div.sidenav {
    height: 100%;
    width: 120px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #58485e;
    overflow-x: hidden;
    padding-top: 20px;
  }

.sidenav a{
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    display: block;
    color: #97858a;
    font-size: 25px;
}

.sidenav a:hover {
    color: #f1f1f1;
  }

div.main{
    color: black;
    background-color: white;
    margin-left: 120px;
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-left: 10px;
  }

body {
    background-color: whitesmoke;
}